{{#section 'title'}}
    Quản lý danh mục
{{/section}}

{{#section 'js'}}
    <script type="text/javascript">
        $('.removeCategory').on('click', function() {
            var id = $(this).data('id');
            $('#txtDelCatID').val(id);
            $('#frmDeleteCategory').submit();
        });
    </script>
{{/section}}

{{!-- body --}}
{{#if showError }}
    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Warning!</strong> {{ errorMsg }}
    </div>
{{/if}}
<h1>Danh sách danh mục</h1>
<form method="post" action="/category/delete" id="frmDeleteCategory">
    <input type="hidden" name="catID" id="txtDelCatID">
</form>
<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Tên danh mục</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each categories }}
        <tr>
            <td>{{CatID}}</td>
            <td>{{CatName}}</td>
            <td>
                <a href="/category/edit/{{CatID}}" class="btn btn-xs btn-primary" title="edit">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a href="javascript:;" class="btn btn-xs btn-danger removeCategory" data-id="{{CatID}}">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
<a href="/category/add" class="btn btn-primary" title="add">
    <span class="glyphicon glyphicon-plus"></span>
</a>
{{!-- end body --}}

{{#section 'css'}}

{{/section}}