{{#section 'title'}}
    Quản lý danh mục
{{/section}}

{{#section 'js'}}
    <script type="text/javascript">
        $('.removeCategory').on('click', function() {
            var id = $(this).data('id');
            $('#txtDelCatID').val(id);
            $('#frmDeleteCategory').submit();
        });
    </script>
{{/section}}

{{!-- body --}}
{{#if showError }}
    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Warning!</strong> {{ errorMsg }}
    </div>
{{/if}}
<h1>Danh sách danh mục</h1>
<form method="post" action="/category/delete" id="frmDeleteCategory">
    <input type="hidden" name="catID" id="txtDelCatID">
</form>
<div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-right: 50px">
<table class="table table-hover table-striped table-bordered">
    <thead>
        <tr style="background: #cecece">
            <th>ID</th>
            <th>Tên danh mục</th>
            <th style="text-align: center;">Tùy chọn</th>
        </tr>
    </thead>
    <tbody>
        {{#each categories }}
        <tr>
            <td style="width: 10%;"">{{CatID}}</td>
            <td>{{CatName}}</td>
            <td style="width: 25%; text-align: center;">
                <a href="/category/edit/{{CatID}}" class="btn btn-xs btn-primary" title="Sửa danh mục">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </a>
                <a href="javascript:;" class="btn btn-xs btn-danger removeCategory" data-id="{{CatID}}" title="Xóa danh mục">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
</div>
<a href="/category/add" class="btn btn-primary" title="Thêm danh mục mới" style="margin-left: 15px">
    &nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;&nbsp;
</a>
{{!-- end body --}}

{{#section 'css'}}

{{/section}}