{{#section 'title'}}
   Duyệt yêu cầu
{{/section}}

{{#section 'js'}}
    <script type="text/javascript">
   
    </script>
{{/section}}

{{!-- body --}}
<div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-right: 50px; max-width: 800px">
    {{#if isEmpty }}
    <div class="alert alert-danger" role="alert">Không có tài khoản nào cần phê duyệt
      <a href="/home" class="alert-link"> Trở về</a>
    </div>
    {{else}}
    <h1 style="text-align: center;"><b>Danh sách tài khoản cần phê duyệt <span class="badge">{{users.length}}</span></b></h1>
    <table class="table table-hover table-striped">
        <thead>
            <tr style="background: #cecece">
                <th style="width: 35%; padding-left: 40px">Tên tài khoản</th>
                <th style="width: 6%; text-align: center;">Phê duyệt</th>
                <th style="width: 6%; text-align: center;">Bỏ qua</th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
            <tr>
                <td style="padding-left: 40px"><b><a href="/account/profile/{{id}}">{{name}}</a></b></td>
                <td style="text-align: center;">
                    <div class="btn btn-xs btn-success" title="Cho phép người này nâng cấp tài khoản">
                    <a href="/account/manageRequests/accept/{{id}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                    </div>
                </td>
                <td style="text-align: center;">                   
                    <div class="btn btn-xs btn-danger" title="Không cho phép người này nâng cấp tài khoản">
                    <a href="/account/manageRequests/refuse/{{id}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{/if}}
    
</div>
{{!-- end body --}}

{{#section 'css'}}
        <style type="text/css">
        td {
            vertical-align: center;
        }
    </style>
{{/section}}