{{#section 'title'}}
    Thông tin cá nhân
{{/section}}
{{#section 'js'}}
	<script src="/assests/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="/assests/jquery-validation-1.12.0/jquery.validate.min.js"></script>
	<script type="text/javascript">
		$("#changeProfile").click(function(){
    		$("#changePassword").hide();
    		$("#changeProfile").hide();
    		$("#userScore").hide();
    		$("#inputUsername").hide();
    		$("#spaceline").hide();
    		$("#goback").show();
    		$("#save").show();
		});
		$('.datepicker').datepicker({
            format: 'd/m/yyyy',
            autoclose: true,
        });

        $('#frmchangeProfile').validate({
            rules: {
                username: {
                    required: true,
                },
                name: {
                    required: true
                },
                email: {
                    required: true,
                    email: true,
                },
                dOB: {
                    required: true
                },
                address: {
                    required: true
                },
            },

            messages: {
                username: {
                    required: 'Vui lòng nhập username.'
                },
                name: {
                    required: 'Vui lòng nhập họ tên'
                },
                email: {
                    required: 'Vui lòng nhập email',
                    email: 'EMail không đúng định dạng'
                },
                dOB: {
                    required: 'Vui lòng chọn ngày sinh'
                },
                address: {
                    required: 'Vui lòng nhập địa chỉ'
                },
            },

            errorElement: 'span',
            errorClass: 'help-block',

            highlight: function (element) {
                $(element)
                    .closest('.input-group')
                    .addClass('control has-error');
            },

            success: function (label) {
                $(label)
                    .closest('.input-group')
                    .removeClass('control has-error');

                label.remove();
            },
        });
	</script>
{{/section}}
{{!-- body --}}
<!-- Body -->
{{#if showMsg }}
    {{#if error }}
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Warning!</strong> {{ msg }}
        </div>
    {{else}}
        <div class="alert alert-success alert-info" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
            </button>
            <strong>Success!</strong> {{ msg }}
        </div>
    {{/if}}        
{{/if}}
<form id="frmchangeProfile" method="post" action="/account/profile" class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-md-offset-2 col-lg-offset-1" style="margin-bottom: 20px">
    <div class="mainbox" id="loginbox">
        <div class="panel panel-info">
            <div class="panel-heading ">
                {{#if isTrashAccount}}
                <div class="panel-title">
                    Không có người dùng này!
                </div>
                {{else}}
                <div class="panel-title">
                    Thông tin cá nhân
                </div>
                {{/if}}
                {{#if isMyProfile}}
                <div style="float:right; font-size: 80%; position: relative; top:-20px">
                    <button  id="changeProfile" type="button"  class="btn btn-default btn-xs">
                        Chỉnh sửa thông tin cá nhân
                    </button>
                </div>
                {{/if}}
            </div>
            {{#with user}}
            <div  class="panel-body" style="padding-top:30px;">
                <div class="form-horizontal col-sm-12" role="form">
                    <div class="input-group" id="inputUsername">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-user">
                            </i>
                        </span>
                        <input class="form-control" placeholder="Username" type="text" name="username" value="{{Username}}">
                        </input>
                    </div>
                    <div id="spaceline"><br></div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-envelope">
                            </i>
                        </span>
                        <input class="form-control" placeholder="Your Email" type="text" name="email" value="{{Email}}">
                        </input>
                    </div>
                    <div><br></div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-tag">
                            </i>
                        </span>
                        <input class="form-control" type="text" placeholder="Your Fullname" name="name" value="{{Name}}">
                        </input>
                    </div>
                    <div><br></div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-calendar">
                            </i>
                        </span>
                        <input class="form-control datepicker" type="text" placeholder="Your Birthday" name="dOB" value="{{DOB}}">
                        </input>
                    </div>
                    <div><br></div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-map-marker">
                            </i>
                        </span>
                        <input class="form-control" placeholder="Your Address" type="text" name="address" value="{{Address}}">
                        </input>
                    </div>
                    <div><br></div>
                    <!-- Điểm đánh giá  -->
                    <div class="row form-horizontal" id="userScore">
                    	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <label class="control-label">Điểm đánh giá</label>
                        </div>
                        <div class="col-sm-9">
                            <div class="row">
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-4">
                                    <div class="form-group has-success has-feedback">           
                                      <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-plus-sign">
                                            </i>
                                        </span>
                                        <input type="text" class="form-control" name="scorePlus" value="{{ScorePlus}}">
                                        </inpput>
                                      </div>
                                    </div>
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-4" style="margin-left: 10px">
                                    <div class="form-group has-error has-feedback">
                                      <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-minus-sign">
                                            </i>
                                        </span>
                                        <input type="text" class="form-control" name="scoreMinus" value="{{ScoreMinus}}">
                                        </inpput>
                                      </div>
                                    </div>
                                </div>
                            </div>
                            {{/with}}
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-8" style="right: -5px;">
                                    {{#if canAuction}}
                                    <div class="progress" title="Điểm >= 0.8 : Bạn có thể tham gia đấu giá ngay bây giờ">
                                      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{percentScore}}%;">
                                        {{percentScore}}%
                                      </div>
                                    </div>
                                    {{else}}
                                    <div class="progress" title="Bạn cần tổng điểm >= 0.8 để được tham gia đấu giá">
                                      <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{percentScore}}%;">
                                        {{percentScore}}%
                                      </div>
                                    </div>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End điểm đánh giá -->
                    <div class="form-group">
                        <div class="col-md-12 control">
                            <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%">
                                <div class="row">
                                    <div class="col-md-2" id="goback" hidden>
                                        <a href="/account/profile/{{user.ID}}">Trở về</a>  
                                    </div>

                                    <div class="col-md-2 col-md-offset-7">
										<button type="submit" class="btn btn-success" id="save" hidden>
										Lưu thay đổi
										</button>	
									</div>
                                </div>
                                {{#if isMyProfile}}
                                <a  id="changePassword" href="/account/changePassword">
                                    Đổi mật khẩu
                                </a>
                                {{#if layoutModels.isCanSale}}
                                {{else}}
                                {{#if isCanSale}}
                                {{#if isWaitingForAccept}}
                                <span class="glyphicon glyphicon-option-vertical"></span>
                                Đã gửi yêu cầu nâng cấp tài khoản.
                                {{else}}
                                <span class="glyphicon glyphicon-option-vertical"></span>
                                <a  id="requestUpAccountToSale" href="/account/reqUpAccount">
                                    Yêu cầu nâng cấp tài khoản
                                </a>
                                {{/if}}
                                {{/if}}
                                {{/if}}
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- {/with} -->
        </div>
    </div>
</form>
    <!-- END Body -->
{{!-- end body --}}

{{#section 'css'}}
    <style type="text/css">
		/*input[type=text] {
    		background-color: #f2ffed;
		}*/
		/*input[readonly] {
    		background-color: #72A4D2;
		}*/

		*[hidden] {
		display: none;
		}
	</style>
{{/section}}