{{#section 'title'}}
    Thêm sản phẩm
{{/section}}

{{#section 'js'}}
    <script src="/assests/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="/assests/jquery-validation-1.12.0/jquery.validate.min.js"></script>
    
    <script type="text/javascript">
        $('.datepicker').datepicker({
            format: 'd/m/yyyy',
            autoclose: true,
        });

        $('#frmAdd').validate({
            rules: {
                proName: {
                    required: true,
                },
                tinyDes: {
                    required: true,
                },
                fullDes: {
                    required: true,
                },
                price: {
                    required: true,
                    min: 500,
                },
                priceToBuy: {
                    number: true
                },
                catName: {
                    required: true,
                },
                quantity: {
                    required: true,
                    min: 1,
                },
                timeDown: {
                    required: true,
                },

                deltaPrice: {
                    required: true,
                    min: 500,
                },
            },

            messages: {
                proName: {
                    required: 'Vui lòng nhập tên sản phẩm.'
                },
                tinyDes: {
                    required: 'Vui lòng nhập mô tả ngắn gọn.',
                },
                fullDes: {
                    required: 'Vui lòng nhập mô tả chi tiết.'
                },
                price: {
                    required: 'Vui lòng nhập giá.',
                    min: 'Nhập chưa đúng.'
                },
                priceToBuy: {
                    number: 'Phải là số.',
                },
                catName: {
                    required: 'Vui lòng chọn danh mục.',
                },
                quantity: {
                    required: 'Vui lòng nhập số lượng',
                    min: 'Nhập chưa đúng'
                },
                timeDown: {
                    required: 'Vui lòng chọn ngày hết hạn.',
                },
                deltaPrice: {
                    required: 'Vui lòng nhập bước giá.',
                    min: 'Nhập chưa đúng.',
                },
            },

            errorElement: 'span',
            errorClass: 'help-block',

            highlight: function (element) {
                $(element)
                    .closest('.form-group')
                    .addClass('has-error');
            },

            success: function (label) {
                $(label)
                    .closest('.form-group')
                    .removeClass('has-error');

                label.remove();
            },
        });
    </script>
{{/section}}

{{#if showMsg }}
    {{#if error }}
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Warning!</strong> {{ msg }}
        </div>
    {{else}}
        <div class="alert alert-success alert-info" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
            </button>
            <strong>Success!</strong> {{ msg }}
        </div>
    {{/if}}        
{{/if}}
{{!-- body --}}
		<!-- <div class="container"> -->
		<div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-sm-offset-1">
			<div class="mainbox">
					<div class="panel panel-success">
						<div class="panel-heading ">
			                <div class="panel-title">
			                    Thông tin sản phẩm
			                </div>
			            </div>
						<form method="post" action="/product/add/{{ layoutModels.curUser.id }}" enctype="multipart/form-data" id="frmAdd" style="padding: 20px; padding-bottom: 0px">	
							<div class="form-group">
								<div class="row">
									<label for="txtProName" class="col-sm-offset-0 col-sm-4">Tên sản phẩm</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" id="txtProName" placeholder="" name="proName">
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="row">
									<label class="col-sm-offset-0 col-sm-4" for="txtPrice">Giá</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" id="txtPrice" placeholder="" name="price">
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="row">
									<label class="col-sm-offset-0 col-sm-4" for="txtCatID">Danh mục</label>
									<div class="col-sm-8">
										<select name="catName" id="txtCatID" class="form-control">
											{{#each categories}}
											<option>{{CatName}}</option>
											{{/each}}
										</select>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="row">
									<label class="col-sm-offset-0 col-sm-4" for="txtQuantity">Số lượng</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" id="txtQuantity" name="quantity">
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="row">
									<label class="col-sm-offset-0 col-sm-4" for="txtQuantity">Giá bán ngay</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" id="txtPriceToBuy" name="priceToBuy">
									</div>
								</div>
							</div>
							
							<div class="form-group">
								<div class="row">
									<label class="col-sm-offset-0 col-sm-4">Đăng đến ngày</label>
									<div class="col-sm-8">
										<input type="text" class="form-control datepicker" placeholder="dd/mm/yyy" id="txtTimeDown" name="timeDown">
									</div>
								</div>
								
							</div>
							<div class="form-group">
								<div class="row">
									<label class="col-sm-offset-0 col-sm-4">Bước giá</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" id="txtDeltaPrice" name="deltaPrice">
									</div>
								</div>
							</div>
							<!-- Destination -->
							<div class="form-group">
								<div class="row">
									<label for="txtTinyDes" class="col-sm-offset-0 col-sm-4">Mô tả ngắn gọn</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" id="txtTinyDes" placeholder="" name="tinyDes">
									</div>
								</div>							
							</div>
							<div class="form-group">
								<div class="row">
									<label class="col-sm-offset-0 col-sm-4" for="txtFullDes">Mô tả chi tiết</label>
									<div class="col-sm-8">
										<textarea type="text" class="form-control" rows="3" id="txtFullDes" placeholder="" name="fullDes"></textarea>
									</div>
								</div>
							</div>
							<!-- END Destination -->
							<!-- <form> -->
							<div class="form-group" style="margin-top: 10px">
								<div class="row">
									<label class="col-sm-offset-0 col-sm-4">Thêm hình ảnh</label>
									<div class="col-sm-8">
									  	<input type="file" name="images" multiple="multiple" name="fImages">
									    <p class="help-block">Có thể upload nhiều ảnh, tối thiểu: 3</p>
									</div>
								</div>
								
							</div>
							<!-- </form> -->
							</div>
							<div class="row">
								<div style="text-align: center;">
									<button type="submit" value="upload" class="btn btn-success" id="save">
										Đăng
									</button>	
								</div>
							</div>
						</form>
					
				</div>
			</div>
		<!-- </div> -->
{{!-- end body --}}

{{#section 'css'}}
   <!--  <style type="text/css">
        label {
            font-weight: normal !important;
        }
    </style> -->
{{/section}}