{{#section 'title'}}
Danh sách sản phẩm
{{/section}}

{{#section 'js'}}
<script type="text/javascript">
    $('.addItem').on('click', function () {
        var proId = $(this).data('id');
        $('#txtP').val(proId);
        $('#frmAddToCart').submit();
    });
</script>
<script type="text/javascript">
    $('#textSearch').val($('#txtname').val());
</script>
{{/section}}

{{#if isEmpty }}
Không có sản phẩm!
{{else}}
<form id="frmAddToCart" method="post" action="/cart/add1">
    <input type="hidden" id="txtP" name="proId" />
    <input type="hidden" id="txtC" name="catId" value="{{catId}}" />
</form>
<div class="row">
    <input type="hidden" id="txtname" value="{{name}}" />
    {{#each products }}
    <div class="col-md-4" style="width: 33%">
        <div class="thumbnail" style="min-height: 340px; max-width: 300px">
            <a href="/product/detail/{{ProID}}"><img src="/images/{{ProID}}/1_thumb.jpg" title="{{ProName}}"/></a>
            <div class="caption">
                <a href="/product/detail/{{ProID}}"><h4>{{ProName}}</h4></a>
                <h4>Giá: {{formatNumber Price}} vnđ</h4>
                <h4>Tồn: {{Quantity}}</h4>
                <p style="width: 250px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;">
                {{TinyDes}}
                </p>
            </div>
        </div>
    </div>
    {{/each}}
</div>
<div class="row">
    <div class="btn-group" role="group" aria-label="Page navigation">
            {{#if showPrevPage}}
                <a href="?page={{prevPage}}&text={{text}}&findBy={{findBy}}&arrange={{arrange}}"><button class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></button></span>
                </a>
            {{/if}}
            {{#each pages }}
            {{#if isActive }}
                <a href="?page={{pageValue}}&text={{../text}}&findBy={{../findBy}}&arrange={{../arrange}}"><button class="btn btn-warning">{{pageValue}}</button></a>
            {{else}}
                <a href="?page={{pageValue}}&text={{../text}}&findBy={{../findBy}}&arrange={{../arrange}}"><button class="btn btn-default">{{pageValue}}</button></a>
            {{/if}}
            {{/each}}
            {{#if showNextPage }}
                <a href="?page={{nextPage}}&text={{text}}&findBy={{findBy}}&arrange={{arrange}}" aria-label="Next">
                    <button class="btn btn-default"><span class="glyphicon glyphicon-arrow-right"></span></button>
                </a>
            {{/if}}
    </div>
</div>
{{/if}}