{{#section 'title'}}
    Kết quả tìm kiếm
{{/section}}

{{#section 'js'}}
<script type="text/javascript">
    $('.addItem').on('click', function () {
        var proId = $(this).data('id');
        $('#txtP').val(proId);
        $('#frmAddToCart').submit();
    });
    $("#scorePlus").click(function(){
        $("#scorePlus").addClass('btn-danger');
        $("#scoreMinus").removeClass('btn-primary');
        $("#scoreMinus").addClass('btn-default');
    });
    $("#scoreMinus").click(function(){
        $("#scoreMinus").addClass('btn-primary');
        $("#scorePlus").removeClass('btn-danger');
        $("#scorePlus").addClass('btn-default');
    });
</script>
<script type="text/javascript">
    $('#textSearch').val($('#txtname').val());
</script>
{{/section}}

{{#if isEmpty }}
Không có sản phẩm!
{{else}}
<form id="frmAddToCart" method="post" action="/cart/add1">
    <input type="hidden" id="txtP" name="proId" />
</form>
<h4>{{Tile}} <span class="badge">{{box.length}}</span></h4>
<div class="row">
    <input type="hidden" id="txtname" value="{{name}}" />
    {{#each box }}
    <div class="col-md-11">
        <div class="thumbnail" style="min-height: 130px; max-width: ">
            <div class="row">
                <div class="col-md-1">
                 {{#if ../layoutModels.isLogged }}
                    {{#if canRemoveProduct }}
                        <a href="Loại khỏi danh sách yêu thích" role="button">
                            <img src="/images/others/Remove-Product.png" title="Bỏ yêu thích" width="30" height="30">
                        </a>
                    {{/if}}
                {{/if}}
                 </div>
                <div class="col-md-3">
                    <div class="row">
                        <a href="/product/detail/{{product.ProID}}" class="col-md-12">
                            <img src="/images/{{product.ProID}}/1_thumb.jpg" title="{{product.ProName}}" href="/product/detail/{{product.ProID}}"/>
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="caption">
                        <a href="/product/detail/{{product.ProID}}"><h4>{{product.ProName}}</h4></a>
                        <h4>&nbsp;&nbsp;&nbsp;<img src="/images/others/price-icon.png" title="Giá" width="25" height="25">&nbsp;&nbsp;{{formatNumber product.Price}}</h4>
                        <h4>&nbsp;&nbsp;&nbsp;<img src="/images/others/Quantity-icon.png" title="Tồn kho" width="25" height="25">&nbsp;&nbsp;{{product.Quantity}}</h4>
                        <p style="width: 400px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;">&nbsp;&nbsp;&nbsp;<img src="/images/others/Comment-Describe-icon.png" title="Mổ tả ngắn gọn" width="25" height="25">&nbsp;&nbsp;
                        {{product.TinyDes}}
                        </p>
                    </div>
                </div>

                {{# if canGiveScore_comment}}
                <!-- Cộng/trừ điểm - Gửi nhận xét -->
                <div class="col-md-2">
                    <div class="btn-group" role="group" aria-label="...">
                      <button type="button" id="scorePlus" class="btn btn-default"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> +1</button>
                      <button type="button" id="scoreMinus" class="btn btn-default"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> -1</button>
                    </div>
                </div>
                <form class="form-group" role="search">
                      <div class="col-lg-12">
                        <div class="input-group">
                          <input type="text" class="form-control" placeholder="Gửi nhận xét">
                          <span class="input-group-btn">
                            <button type="submit" class="btn btn-default">Gửi</button>
                          </span>
                        </div>
                      </div>
                </form>
                <!-- END Cộng/trừ điểm -  Gửi nhận xét -->
                {{/if}}
            </div>

          
        </div>
    </div>
    {{/each}}
</div>
<div class="row">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {{#if showPrevPage}}
            <li>
                <a href="?page={{prevPage}}&text={{text}}&findBy={{findBy}}&arrange={{arrange}}">
                    <span class="glyphicon glyphicon-arrow-left"></span>
                </a>
            </li>
            {{/if}}
            {{#each pages }}
            {{#if isActive }}
            <li class="active">
                <a href="?page={{pageValue}}&text={{../text}}&findBy={{../findBy}}&arrange={{../arrange}}">{{pageValue}}</a>
            </li>
            {{else}}
            <li>
                <a href="?page={{pageValue}}&text={{../text}}&findBy={{../findBy}}&arrange={{../arrange}}">{{pageValue}}</a>
            </li>
            {{/if}}
            {{/each}}
            {{#if showNextPage }}
            <li>
                <a href="?page={{pageValue}}&text={{text}}&findBy={{findBy}}&arrange={{arrange}}" aria-label="Next">
                    <span class="glyphicon glyphicon-arrow-right"></span>
                </a>
            </li>
            {{/if}}
        </ul>
    </nav>
</div>
{{/if}}

{{#section 'css'}}
    <style type="text/css">
        /*input[type=text] {
            background-color: #f2ffed;
        }*/
        /*input[readonly] {
            background-color: #72A4D2;
        }*/

        *[hidden] {
        display: none;
        }
    </style>
{{/section}}