{{#section 'title'}}
    Kết quả tìm kiếm
{{/section}}

{{#section 'js'}}
<script type="text/javascript">
    $('.addItem').on('click', function () {
        var proId = $(this).data('id');
        $('#txtP').val(proId);
        $('#frmAddToCart').submit();
    });
    $(".scorePlus").click(function(){
        var ProID = $(this).data('id');
        var idPlusButton = "#Plus" + ProID;
        var idMinusButton = "#Minus" + ProID;
        $(idPlusButton).addClass('btn-success');
        $(idMinusButton).removeClass('btn-danger');
        $(idMinusButton).addClass('btn-default');

        
         $('#txtProID').val(ProID);
         $('#txtgiveScore').val('1');
         $('#frmGiveScore').submit();
    });
    $(".scoreMinus").click(function(){
        var ProID = $(this).data('id');
        var idPlusButton = "#Plus" + ProID;
        var idMinusButton = "#Minus" + ProID;
        $(idMinusButton).addClass('btn-danger');
        $(idPlusButton).removeClass('btn-success');
        $(idPlusButton).addClass('btn-default');

        var ProID = $(this).data('id');
         $('#txtProID').val(ProID);
         $('#txtgiveScore').val('-1');
         $('#frmGiveScore').submit();
    });
    $(".sendComment").click(function(){
        var ProID = $(this).data('id');
        var name = $('#txtProName' + ProID).val();
         $('#txtProductID').val(ProID);
        var Placeholder = "Gửi nhận xét cho sản phẩm " + name;
        $("#txtSubmitComment").attr("placeholder", Placeholder);
        $("html, body").animate({
        scrollTop: $('html, body').get(0).scrollHeight}, 1000);
        $("#frmwriteComment").show();
    });
     $("#btnSubmitComment").click(function(){
        $("html, body").animate({ scrollTop: 0 }, "slow");  //Lên top
        //$('#scrollable').scrollTo(100); //Tới elementID và nằm dưới 100px

        //$("#frmwriteComment").submit();
        $("#frmwriteComment").hide();
        $("#frmwriteComment").submit();
    });
    //  $("#sendAgain").click(function(){
    //     $("html, body").animate({
    //     scrollTop: $('html, body').get(0).scrollHeight}, 1000);
    //     $("#feedFeedbackSuccess").hide();
    //     $("#feedFeedbackFailed").hide();
    //     $("#frmwriteComment").show();
    // });
    
</script>
<script type="text/javascript">
    $('#textSearch').val($('#txtname').val());
</script>
{{/section}}

{{#if isEmpty }}
Không có sản phẩm!
{{else}}

<form method="post" action="/account/receiveScore" id="frmGiveScore">
    <input type="hidden" name="giveScore" id="txtgiveScore">
    <input type="hidden" name="proID" id="txtProID">
</form>

<h4>{{Tile}} <span class="badge">{{total}}</span></h4>
<div class="row">
    <input type="hidden" id="txtname" value="{{name}}"/>
    {{#each box }}
    <div class="col-md-11">
        <div class="thumbnail" style="min-height: 150px; max-width: ">
            <div class="row">
                <div class="col-md-1">
                 {{#if ../layoutModels.isLogged }}
                    {{#if canRemoveProduct }}
                        <a href="/product/byUser/removeLove/{{product.ProID}}" role="button">
                            <img src="/images/others/Remove-Product.png" title="Bỏ yêu thích" width="30" height="30">
                        </a>
                    {{/if}}
                {{/if}}
                 </div>
                <div class="col-md-3">
                    <div class="row">
                        <a href="/product/detail/{{product.ProID}}" class="col-md-12">
                            <img src="/images/{{product.ProID}}/1_thumb.jpg" title="{{product.ProName}}" href="/product/detail/{{product.ProID}}"/>
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="caption">
                        <input type="hidden" id="txtProName{{product.ProID}}" value="{{product.ProName}}">
                        <a href="/product/detail/{{product.ProID}}"><h4>{{product.ProName}}</h4></a>
                        <h4>&nbsp;&nbsp;&nbsp;<img src="/images/others/price-icon.png" title="Giá" width="25" height="25">&nbsp;&nbsp;{{formatNumber product.Price}}</h4>
                        <h4>&nbsp;&nbsp;&nbsp;<img src="/images/others/Quantity-icon.png" title="Tồn kho" width="25" height="25">&nbsp;&nbsp;{{product.Quantity}}</h4>
                        <p style="width: 400px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;">&nbsp;&nbsp;&nbsp;<img src="/images/others/Comment-Describe-icon.png" title="Mổ tả ngắn gọn" width="25" height="25">&nbsp;&nbsp;
                        {{product.TinyDes}}
                        </p>
                    </div>
                </div>
                {{#if canGiveScore_comment_toSeller}}
                <!-- Cộng/trừ điểm - Gửi nhận xét cho NGƯỜI BÁN - UserID -->
                <div class="col-md-2">
                    {{#if isGaveScore }}
                    {{#if isPlus }}
                    <div class="btn-group" role="group" aria-label="...">
                      <button id="Plus{{product.ProID}}" type="button" class="btn btn-success scorePlus" data-id="{{product.ProID}}"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> +1</button>
                      <button id="Minus{{product.ProID}}" type="button" class="btn btn-default scoreMinus" data-id="{{product.ProID}}"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> -1</button>
                    </div>
                    {{else}}
                     <div class="btn-group" role="group" aria-label="...">
                      <button id="Plus{{product.ProID}}" type="button" class="btn btn-default scorePlus" data-id="{{product.ProID}}"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> +1</button>
                      <button id="Minus{{product.ProID}}" type="button" class="btn btn-danger scoreMinus" data-id="{{product.ProID}}"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> -1</button>
                    </div>
                    {{/if}}
                    {{else}}
                    <div class="btn-group" role="group" aria-label="...">
                      <button id="Plus{{product.ProID}}" type="button" class="btn btn-default scorePlus" data-id="{{product.ProID}}"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> +1</button>
                      <button id="Minus{{product.ProID}}" type="button" class="btn btn-default scoreMinus" data-id="{{product.ProID}}"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> -1</button>
                    </div>
                    {{/if}}                    
                </div>
                <div class="col-md-2">
                    <br>
                    <a href="javascript:;" class="sendComment" data-id="{{product.ProID}}"><button type="button" class="btn btn-primary" >Gửi nhận xét</button></a>
                    {{#if isGaveComment }}
                    <h4><img src="/images/others/Product-Status.png" width="20" height="20">Đã nhận xét</h4>
                    {{/if}}
                </div>
                <!-- END Cộng/trừ điểm -  Gửi nhận xét cho NGƯỜI BÁN-->
               {{/if}}
                {{#if canGiveScore_comment_toBuyer}}
                <!-- Cộng/trừ điểm - Gửi nhận xét cho  NGƯỜI CHIẾN THẮNG - HandleID -->
                <div class="col-md-2">
                    {{#if isGaveScore }}
                    {{#if isPlus }}
                    <div class="btn-group" role="group" aria-label="...">
                      <button id="Plus{{product.ProID}}" type="button" class="btn btn-success scorePlus" data-id="{{product.ProID}}"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> +1</button>
                      <button id="Minus{{product.ProID}}" type="button" class="btn btn-default scoreMinus" data-id="{{product.ProID}}"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> -1</button>
                    </div>
                    {{else}}
                     <div class="btn-group" role="group" aria-label="...">
                      <button id="Plus{{product.ProID}}" type="button" class="btn btn-default scorePlus" data-id="{{product.ProID}}"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> +1</button>
                      <button id="Minus{{product.ProID}}" type="button" class="btn btn-danger scoreMinus" data-id="{{product.ProID}}"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> -1</button>
                    </div>
                    {{/if}}
                    {{else}}
                    <div class="btn-group" role="group" aria-label="...">
                      <button id="Plus{{product.ProID}}" type="button" class="btn btn-default scorePlus" data-id="{{product.ProID}}"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> +1</button>
                      <button id="Minus{{product.ProID}}" type="button" class="btn btn-default scoreMinus" data-id="{{product.ProID}}"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> -1</button>
                    </div>
                    {{/if}}          
                </div>
                <div class="col-md-2">
                    <br>
                    <a href="javascript:;" class="sendComment" data-id="{{product.ProID}}"><button type="button" class="btn btn-primary" >Gửi nhận xét</button></a>
                    {{#if isGaveComment }}
                    <h4><img src="/images/others/Product-Status.png" width="20" height="20">Đã nhận xét</h4>
                    {{/if}}
                </div>
                <!-- END Cộng/trừ điểm -  Gửi nhận xét NGƯỜI CHIẾN THẮNG -->
                {{/if}}
            </div>

          
        </div>
    </div>
    {{/each}}
     <form method="post" action="/account/receiveFeedback" class="form-group" role="search" id="frmwriteComment" hidden>
          <div class="col-lg-11">
              <div class="thumbnail" style="background: #d9e7f7">
                  <div style="margin-left: 20px;margin-bottom: 15px; margin-right: 20px">
                    <input name="proID" type="hidden"  id="txtProductID">
                    <h4>Gửi nhận xét</h4>
                    <textarea name="comment" class="form-control" rows="3" id="txtSubmitComment" placeholder="Gửi nhận xét cho"></textarea>
                    <br>
                    <div class=" col-md-offset-11">
                        <button id="btnSubmitComment" type="button" class="btn btn-primary">Gửi</button>
                    </div>
                  </div>
              </div>
          </div>
    </form>
</div>
<div class="row">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {{#if showPrevPage}}
            <li>
                <a href="?page={{prevPage}}&text={{text}}&findBy={{findBy}}&arrange={{arrange}}">
                    <span class="glyphicon glyphicon-arrow-left"></span>
                </a>
            </li>
            {{/if}}
            {{#each pages }}
            {{#if isActive }}
            <li class="active">
                <a href="?page={{pageValue}}&text={{../text}}&findBy={{../findBy}}&arrange={{../arrange}}">{{pageValue}}</a>
            </li>
            {{else}}
            <li>
                <a href="?page={{pageValue}}&text={{../text}}&findBy={{../findBy}}&arrange={{../arrange}}">{{pageValue}}</a>
            </li>
            {{/if}}
            {{/each}}
            {{#if showNextPage }}
            <li>
                <a href="?page={{pageValue}}&text={{text}}&findBy={{findBy}}&arrange={{arrange}}" aria-label="Next">
                    <span class="glyphicon glyphicon-arrow-right"></span>
                </a>
            </li>
            {{/if}}
        </ul>
    </nav>
</div>
{{/if}}

{{#section 'css'}}
    <style type="text/css">
        /*input[type=text] {
            background-color: #f2ffed;
        }*/
        /*input[readonly] {
            background-color: #72A4D2;
        }*/

        *[hidden] {
        display: none;
        }
    </style>
{{/section}}