{{#section 'title'}}
    Kết quả tìm kiếm
{{/section}}

{{#section 'js'}}
<script type="text/javascript">
    $('.addItem').on('click', function () {
        var proId = $(this).data('id');
        $('#txtP').val(proId);
        $('#frmAddToCart').submit();
    });
    $("#scorePlus").click(function(){
        $("#scorePlus").addClass('btn-success');
        $("#scoreMinus").removeClass('btn-danger');
        $("#scoreMinus").addClass('btn-default');
        //$('#txtgiveScore').val('1');
        //$('#frmGiveScore').submit();
    });
    $("#scoreMinus").click(function(){
        $("#scoreMinus").addClass('btn-danger');
        $("#scorePlus").removeClass('btn-success');
        $("#scorePlus").addClass('btn-default');
        // $('#txtgiveScore').val('-1');
        // $('#frmGiveScore').submit();
    });
    $(".sendComment").click(function(){
        var Placeholder = "Gửi nhận xét cho " + $(this).data('receiverID');
        $("#txtSubmitComment").attr("placeholder", Placeholder);
        $("html, body").animate({
        scrollTop: $('html, body').get(0).scrollHeight}, 1000);
        $("#writeComment").show();
    });
     $("#btnSubmitComment").click(function(){
        $("html, body").animate({ scrollTop: 0 }, "slow");  //Lên top
        //$('#scrollable').scrollTo(100); //Tới elementID và nằm dưới 100px
        $("#feedFeedbackSuccess").show();
        $("#feedFeedbackFailed").show();
        $("#writeComment").hide();
    });
     $("#sendAgain").click(function(){
        $("html, body").animate({
        scrollTop: $('html, body').get(0).scrollHeight}, 1000);
        $("#feedFeedbackSuccess").hide();
        $("#feedFeedbackFailed").hide();
        $("#writeComment").show();
    });
    
</script>
<script type="text/javascript">
    $('#textSearch').val($('#txtname').val());
</script>
{{/section}}

{{#if isEmpty }}
Không có sản phẩm!
{{else}}
<form id="frmAddToCart" method="post" action="/cart/add1">
    <input type="hidden" id="txtP" name="proId" />
</form>
<form method="post" action="/account/delete" id="frmGiveScore">
    <input type="hidden" name="giveScore" id="txtgiveScore">
</form>
<!-- Thông báo gửi thành công/thất bại -->
<div class="alert alert-success" role="alert" id="feedFeedbackSuccess" hidden>
  Gửi đánh giá thành công!
</div>
<div class="alert alert-danger" role="alert" id="feedFeedbackFailed" hidden> Gửi nhận xét cho Nguyễn Quốc Duy (Tên sản phẩm) thất bại!
  <a href="#" class="alert-link" id="sendAgain">Gửi lại</a>
</div>
<!-- END Thông báo gửi thành công/thất bại -->
<h4>{{Tile}} <span class="badge">{{total}}</span></h4>
<div class="row">
    <input type="hidden" id="txtname" value="{{name}}"/>
    {{#each box }}
    <div class="col-md-11">
        <div class="thumbnail" style="min-height: 150px; max-width: ">
            <div class="row">
                <div class="col-md-1">
                 {{#if ../layoutModels.isLogged }}
                    {{#if canRemoveProduct }}
                        <a href="/product/byUser/removeLove/{{product.ProID}}" role="button">
                            <img src="/images/others/Remove-Product.png" title="Bỏ yêu thích" width="30" height="30">
                        </a>
                    {{/if}}
                {{/if}}
                 </div>
                <div class="col-md-3">
                    <div class="row">
                        <a href="/product/detail/{{product.ProID}}" class="col-md-12">
                            <img src="/images/{{product.ProID}}/1_thumb.jpg" title="{{product.ProName}}" href="/product/detail/{{product.ProID}}"/>
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="caption">
                        <a href="/product/detail/{{product.ProID}}"><h4>{{product.ProName}}</h4></a>
                        <h4>&nbsp;&nbsp;&nbsp;<img src="/images/others/price-icon.png" title="Giá" width="25" height="25">&nbsp;&nbsp;{{formatNumber product.Price}}</h4>
                        <h4>&nbsp;&nbsp;&nbsp;<img src="/images/others/Quantity-icon.png" title="Tồn kho" width="25" height="25">&nbsp;&nbsp;{{product.Quantity}}</h4>
                        <p style="width: 400px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;">&nbsp;&nbsp;&nbsp;<img src="/images/others/Comment-Describe-icon.png" title="Mổ tả ngắn gọn" width="25" height="25">&nbsp;&nbsp;
                        {{product.TinyDes}}
                        </p>
                    </div>
                </div>
                {{# if canGiveScore_comment_toSeller}}
                <!-- Cộng/trừ điểm - Gửi nhận xét cho NGƯỜI BÁN - UserID -->
                <div class="col-md-2">
                    <div class="btn-group" role="group" aria-label="...">
                      <button type="button" id="scorePlus" class="btn btn-success"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> +1</button>
                      <button type="button" id="scoreMinus" class="btn btn-default"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> -1</button>
                    </div>
                </div>
                <div class="col-md-2 ">
                    <br>
                    <a href="javascript:;" class="sendComment" data-receiverID="{{product.UserID}}"><button type="button" class="btn btn-primary" >Gửi nhận xét</button></a>
                </div>
                <!-- END Cộng/trừ điểm -  Gửi nhận xét cho NGƯỜI BÁN-->
                {{/if}}
                {{# if canGiveScore_comment_toBuyer}}
                <!-- Cộng/trừ điểm - Gửi nhận xét cho  NGƯỜI CHIẾN THẮNG - HandleID -->
                <div class="col-md-2">
                    <div class="btn-group" role="group" aria-label="...">
                      <button type="button" id="scorePlus" class="btn btn-success"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> +1</button>
                      <button type="button" id="scoreMinus" class="btn btn-default"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> -1</button>
                    </div>
                </div>
                <div class="col-md-2">
                    <br>
                    <a href="javascript:;" class="sendComment" data-receiverID="{{product.UserID}}"><button type="button" class="btn btn-primary" >Gửi nhận xét</button></a>
                </div>
                <!-- END Cộng/trừ điểm -  Gửi nhận xét NGƯỜI CHIẾN THẮNG -->
                {{/if}}
            </div>

          
        </div>
    </div>
    {{/each}}
     <div class="form-group" role="search" id="writeComment" hidden>
          <div class="col-lg-11">
              <div class="thumbnail" style="background: #d9e7f7">
                  <div style="margin-left: 20px;margin-bottom: 15px; margin-right: 20px">
                    <h4><a href="#">Nguyễn Quốc Duy</a> - <a href="#">Tên sản phẩm</a></h4>
                    <textarea class="form-control" rows="3" id="txtSubmitComment" placeholder="Gửi nhận xét cho Nguyễn Quốc Duy"></textarea>
                    <br>
                    <div class=" col-md-offset-11">
                        <button id="btnSubmitComment" type="submit" class="btn btn-primary">Gửi</button>
                    </div>
                  </div>
              </div>
          </div>
    </div>
</div>
<div class="row">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {{#if showPrevPage}}
            <li>
                <a href="?page={{prevPage}}&text={{text}}&findBy={{findBy}}&arrange={{arrange}}">
                    <span class="glyphicon glyphicon-arrow-left"></span>
                </a>
            </li>
            {{/if}}
            {{#each pages }}
            {{#if isActive }}
            <li class="active">
                <a href="?page={{pageValue}}&text={{../text}}&findBy={{../findBy}}&arrange={{../arrange}}">{{pageValue}}</a>
            </li>
            {{else}}
            <li>
                <a href="?page={{pageValue}}&text={{../text}}&findBy={{../findBy}}&arrange={{../arrange}}">{{pageValue}}</a>
            </li>
            {{/if}}
            {{/each}}
            {{#if showNextPage }}
            <li>
                <a href="?page={{pageValue}}&text={{text}}&findBy={{findBy}}&arrange={{arrange}}" aria-label="Next">
                    <span class="glyphicon glyphicon-arrow-right"></span>
                </a>
            </li>
            {{/if}}
        </ul>
    </nav>
</div>
{{/if}}

{{#section 'css'}}
    <style type="text/css">
        /*input[type=text] {
            background-color: #f2ffed;
        }*/
        /*input[readonly] {
            background-color: #72A4D2;
        }*/

        *[hidden] {
        display: none;
        }
    </style>
{{/section}}