{{#section 'title'}}
Chi tiết sản phẩm
{{/section}}

{{#section 'css'}}
<link href="/assests/site.css" rel="stylesheet" />

<style type="text/css">
    .padding {
        padding-top: 1px;
    }
</style>
{{/section}}

{{#section 'js'}}
<script src="/assests/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
<script type="text/javascript">
    $('#txtQ').TouchSpin({
        min: parseInt($('#txtQ').val()) + parseInt($('#txtStep').val()),
        max: parseInt($('#txtQ').val()) + 100000000,
        step: $('#txtStep').val(),
        postfix: 'vnđ',
        verticalButtons: true
    });

</script>

<script type="text/javascript">
    $('#btnDG').on('click', function () {
        var rs = confirm('Bạn có chắc ra giá sản phẩm này với giá là ' + $('#txtQ').val() + ' không?');
        if(rs === true)
        {
            $('#frmAddItem').submit();
        }
        return false;
    });
</script>

<script type="text/javascript">
    $('#btn_edit').on('click', function () {
      $('#edit').show();
      $('#btn_edit').hide();
      $('#frmEdit').show();
    });
    $('#btn_cancel').on('click', function () {
      $('#frmEdit').hide();
      $('#btn_edit').show();
    });
    $('#btn_save').on('click', function () {
      $('#btn_edit').show();
      $('#frmEdit').submit();
    });
    var stt = 1;
    $(document).ready(function(){
        $(".switchImage").click(function(){
            var imgSmallOld = "#imgSmall" + stt;
            $(imgSmallOld).css('border', ""); 
            stt = $(this).data('id');
            var newSrcImg = "/images/{{product.ProID}}/" + stt + ".jpg";
             $('#img0').attr('src',newSrcImg);

            var imgSmallNew = "#imgSmall" + stt;
            $(imgSmallNew).css('border', "solid 2px red");
        });
        $("#PrevIndexImg").click(function(){
            var imgSmallOld = "#imgSmall" + stt;
            $('#img0').animate({opacity: '0.6'}, "fast");
            if (stt - 1 < 1){
                stt = {{indexs.length}};
            } else {
                stt = stt - 1;
            }
            var imgSmallNew = "#imgSmall" + stt;
            var newSrcImg = "/images/{{product.ProID}}/" + stt + ".jpg";
            $('#img0').attr('src',newSrcImg);
             $('#img0').animate({opacity: '1.0'}, "fast");
            $(imgSmallOld).css('border', ""); 
            $(imgSmallNew).css('border', "solid 2px red"); 
        });
        $("#NextIndexImg").click(function(){
            var imgSmallOld = "#imgSmall" + stt;
            $('#img0').animate({opacity: '0.6'}, "fast");

             if (stt + 1 > {{indexs.length}}){
                stt = 1;
            } else {
                stt = stt + 1;
            }
            var imgSmallNew = "#imgSmall" + stt;
            var newSrcImg = "/images/{{product.ProID}}/" + stt + ".jpg";
             $('#img0').attr('src',newSrcImg);
             $('#img0').animate({opacity: '1.0'}, "fast");
             $(imgSmallOld).css('border', ""); 
            $(imgSmallNew).css('border', "solid 2px red"); 
        });
    });
</script>
{{/section}}

{{#with product }}
<div class="col-md-12" style="right: 10px">
    <div class="thumbnail" style="min-height: 130px;">
        <div class="row">
            <div class="col-md-5" data-id="{{../indexs.stt}}">
                <!-- Slideshow Picture -->
                <div class="row" style="text-align: center;height: 500px">
                <div class="col-md-12 col-lg-12">
                    <img  src="/images/{{ProID}}/1.jpg" id="img0" class="img-rounded" alt="..." style="max-height: 500px; max-width: 410px"/>
                </div>
                </div>
                <div class="row" style="margin-bottom: 10px">
                    <div class="col-sm-1" style="margin-top: 10px"></div>
                    <div class="col-sm-5" style="text-align: center;">
                        <button id="PrevIndexImg" type="button" class="btn btn-default" style="margin-top: 5px">❮ Prev</button>
                    </div>
                    <div class="col-sm-5" style="text-align: center;">
                        <button id="NextIndexImg" type="button" class="btn btn-default" style="margin-top: 5px">Next ❯</button>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px; text-align: center;">
                    <div class="col-sm-1"></div>
                    <div class="row col-sm-10" style="margin-left: 0px;">
                        {{#each ../indexs}}
                        <div class="col-sm-2 switchImage" data-id="{{stt}}" style="margin-bottom: 10px;text-align: center;">
                            <img src="/images/{{../../proID}}/{{stt}}.jpg" id="imgSmall{{stt}}" class="img-rounded" alt="..." height="50" width="50"  />
                        </div>
                        {{/each}}
                    </div>
                    <div class="col-sm-1"></div>
                </div>
                <!-- END Slideshow Picture -->
            </div>
            <div class="col-md-7">
                <!-- Thông tin chung -->
                <!-- <div class="col-md-12"> -->
                <div class="caption-lg-orange">
                    <h3><b>&nbsp;{{ProName}}</b></h3>
                </div>
                <div class="padding">
                    <h4>&nbsp;&nbsp;&nbsp;&nbsp;<img src="/images/others/price-icon.png" title="Giá bán" width="25" height="25">&nbsp;<b>
                    Giá khởi điểm:</b>  {{formatNumber Price}} vnđ</h4>
                </div>
                {{#if ../hasPrice2Buy }}
                <div class="padding">
                    <h4>&nbsp;&nbsp;&nbsp;&nbsp;<img src="/images/others/PriceToBuy.png" title="Giá mua ngay" width="25" height="25">&nbsp;&nbsp;<b>Giá mua ngay:</b> {{formatNumber PriceToBuy}} vnđ</h4>
                </div>
                {{else}}
                <div class="padding">
                <h4>&nbsp;&nbsp;&nbsp;&nbsp;<img src="/images/others/PriceToBuy.png" title="Giá mua ngay" width="25" height="25">&nbsp;&nbsp;<b>Giá mua ngay:</b> Không có</h4>
                </div>
                {{/if}}
                <div class="padding">
                     <h4>&nbsp;&nbsp;&nbsp;&nbsp;<img src="/images/others/Quantity-icon.png" title="Tồn kho" width="25" height="25">&nbsp;&nbsp;<b>Tồn kho:</b> {{Quantity}}</h4>
                </div>
                <div class="padding">
                      {{#if ../isAlive}}
                            <h4>&nbsp;&nbsp;&nbsp;&nbsp;<img src="/images/others/Product-Status.png" title="Tồn kho" width="25" height="25">&nbsp;&nbsp;<b>Trạng thái:</b> <span style="color: #00a808">{{State}}</span></h4>
                        {{else}}
                            {{#if ../isEnd}}
                            <h4>&nbsp;&nbsp;&nbsp;&nbsp;<img src="/images/others/Product-Status.png" title="Tồn kho" width="25" height="25">&nbsp;&nbsp;<b>Trạng thái:</b> <span style="color: #ff4300">{{State}}</span></h4>
                            {{else}}
                            <h4>&nbsp;&nbsp;&nbsp;&nbsp;<img src="/images/others/Product-Status.png" title="Tồn kho" width="25" height="25">&nbsp;&nbsp;<b>Trạng thái:</b> <span style="color: #ffa500">{{State}}</span></h4>
                            {{/if}}
                        {{/if}}
                </div>
                <div style="padding: 6px">&nbsp;&nbsp;&nbsp;&nbsp;<img src="/images/others/Comment-Describe-icon.png" title="Mổ tả ngắn gọn" width="25" height="25">&nbsp;&nbsp;<b>Mô tả:</b> {{FullDes}}&nbsp;&nbsp;

                {{#if ../isSolder }}
                    <button type="button" class="btn btn-default btn-xs" id="btn_edit">Thêm mô tả</button>
                    <div class="col-md-12 col-lg-12" id="EditDesc">
                        <form id="frmEdit" method="post" action="/product/detail/{{ProID}}" hidden="hidden">
                            <div class="thumbnail">
                                <textarea class="form-control" name="desc" id="edit" style="min-height: 70px;"></textarea>
                                <div style="margin-top: 5px;">
                                    <button type="button" class="btn btn-default" style="margin-left: 10px" id="btn_cancel">Hủy</button>
                                    <button type="button" class="btn btn-default" id="btn_save">Lưu lại</button>
                                </div>
                            </div>
                        </form>
                    </div>
                {{/if}}

             </div>
             <!-- </div> -->
             <!-- END Thông tin chung -->
             <!-- Người bán - người giữ giá -->
             <div class="col-md-9 col-md-offset-1">
                <h4>&nbsp;</h4>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <img src="/images/others/Seller.png" title="Người bán" width="20" height="20">&nbsp;
                            <a href="/account/profile/{{../solder.ID}}">Người bán</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </span>
                        <input type="text" class="form-control" value="{{../solder.Name}}">
                    </input>
                    <span class="input-group-addon">
                        {{../solder.Score}}
                    </span>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        {{#if ../isSolder }}
                        <img src="/images/others/Handle-Price.png" title="Người đang giữ giá" width="20" height="20">&nbsp;&nbsp;
                        <a href="/account/profile/{{../handlePrice.ID}}">Người giữ giá</a>
                        {{else}}
                        <img src="/images/others/Handle-Price.png" title="Người đang giữ giá" width="20" height="20">&nbsp;&nbsp;Người giữ giá</a>
                        {{/if}}
                    </span>
                    <input type="text" class="form-control" value="{{../handlePrice.Name}}">
                </input>
                <span class="input-group-addon">
                    {{../handlePrice.Score}}
                </span>
            </div>

            <div class="input-group" style="padding-top: 20px">
                <span class="input-group-addon">
                    <img src="/images/others/Time-start.png" title="Thời gian bắt đầu" width="20" height="20">&nbsp;&nbsp;Ngày đăng bán
                </span>
                <input type="text" class="form-control" value="{{TimeUp}}">
            </input>
        </div>

        <div class="input-group">
            <span class="input-group-addon">
                <img src="/images/others/Time-end.png" title="Thời gian kết thúc" width="22" height="20">&nbsp;&nbsp;Ngày hết hạn&nbsp;&nbsp;
            </span>
            <input type="text" class="form-control" value="{{TimeDown}}">
        </input>
    </div>
</div>
</div>
<!-- END Người bán - người giữ giá -->

<!-- Các button: Đấu giá - yêu thích - lịch sử -->
<!-- Đấu giá - Cho điểm -->
{{#if ../isPermit }}
{{#if ../isAlive }}
<div class="col-md-10 col-md-offset-1">
    <form class="form-horizontal" id="frmAddItem" method="post" action="/auction/add">
        <div class="form-group" style="margin-left: 0px">
            <input type="hidden" id="txtP" name="proID" value="{{ProID}}">
            <input type="hidden" id="txtStep" value="{{DeltaPrice}}">
            <div class="row">
                <div class="col-md-8" class="input-group">
                    <input type="text" id="txtQ" name="price" class="form-control" value="{{../curPrice}}">
                </div>
                <div class="col-md-2">
                    <button class="btn btn-primary" id="btnDG">
                        &nbsp;Đấu giá
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
{{/if}}
{{/if}}
<!-- END Đấu giá - Cho điểm -->
<div class="col-md-12">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <a href="/auction/history/{{ProID}}" role="button" class="btn"><img src="/images/others/History.png" title="Xem lịch sử đấu giá cho sản phẩm này" width="38" height="38" id="watch_history"></a>
        </div>
        <div class="col-md-offset-10 col-md-offset-1">
            {{#if ../layoutModels.isLogged }}
            {{#if ../isSolder }}
            <div class="btn-group" style="margin-top: 15px">
            </div>
            {{else}}
            <div class="btn-group" style="margin-top: 15px">
                {{#if ../isLoved }}
                <a href="/product/removeLove/{{ProID}}" role="button">
                    <img src="/images/others/heart.jpg" width="30" height="30">
                </a>
                {{else}}
                <a href="/product/addLove/{{ProID}}" role="button">
                    <img src="/images/others/heart-empty.png" width="30" height="30">
                </a>
                {{/if}}
            </div>
            {{/if}}
            {{/if}}
        </div>
        <input type="hidden" id="his" value="{{../history}}" />
    </div>
</div>
</div>
</div>
</div>
</div>
{{/with}}
