{{#section 'title'}}
    Chi tiết sản phẩm
{{/section}}

{{#section 'css'}}
    <link href="/assests/site.css" rel="stylesheet" />

    <style type="text/css">
        .padding {
            padding-top: 8px;
        }
    </style>
{{/section}}

{{#section 'js'}}
    <script src="/assests/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
    <script type="text/javascript">
        $('#txtQ').TouchSpin({
            min: $('#txtQ').val(),
            max: 1000000000,
            step: $('#txtStep').val(),
            verticalButtons: true,
        });
    </script>
    <script type="text/javascript">
        $('#img2').on('click', function() {
            $('#img0').attr('src', $('#img2').attr('src'));
        });
        $('#img1').on('click', function() {
            $('#img0').attr('src', $('#img1').attr('src'));
        });
        $('#img3').on('click', function() {
            $('#img0').attr('src', $('#img3').attr('src'));
        });
    </script>
{{/section}}

{{#with product }}
    <div class="row">
        <div class="col-sm-5">
            <div class="caption-lg-orange">
                <h3>{{ProName}}</h3>
                </div>
                <div class="padding">
                    <h4>Giá bán: {{formatNumber Price}}</h4>
                </div>
                <div class="padding">
                     <h4>Tồn kho: {{Quantity}}</h4>
                </div>
            <div class="padding">
                {{{FullDes}}}
            </div>
            {{#if ../isPermit }}
            <form class="form-horizontal padding" id="frmAddItem" method="post" action="/auction/add">
                <div class="form-group" style="margin-top: 50px; margin-left: 10px">
                    <input type="hidden" id="txtP" name="proID" value="{{ProID}}" />
                    <input type="hidden" id="txtStep" value="{{DeltaPrice}}" />
                    <div class="row">
                        <div class="col-sm-6">
                            <input id="txtQ" name="price" type="text" class="form-control" placeholder="" value="{{Price}}">
                        </div><!-- /input-group -->
                        <div class="col-sm-6">
                            <button class="btn btn-primary padding" type="submit">
                                Đấu giá
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            {{/if}}
            {{#if ../layoutModels.isLogged }}
             {{#if ../isLoved }}
            <div class="row" style="margin-top: 20px">
                <div class="col-sm-offset-2">
                  <a href="/product/removeLove/{{ProID}}" role="button" class="btn btn-danger">
                    <span class="glyphicon glyphicon-remove"></span>
                    Bỏ thích
                </a>  
                </div>
            </div>
            {{else}}
            <div class="row" style="margin-top: 20px">
                <div class="col-sm-offset-2">
                    <a href="/product/addLove/{{ProID}}" role="button" class="btn btn-danger">
                        <span class="glyphicon glyphicon-heart"></span>
                        Thích
                    </a>
                </div>
            </div>
            {{/if}}
            {{/if}}
        </div>
        <div class="col-md-7">
            <img src="/images/{{ProID}}/1.jpg" id="img0" height="450" width="500"/>
            <div class="row" style="margin-top: 10px">
                <div class="col-sm-3">
                    
                </div>
                {{#each ../indexs}}
                <div class="col-sm-2">
                    <img src="/images/{{../../proID}}/{{stt}}.jpg" id="img{{stt}}" height="50" width="50"/>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
{{/with}}