{{#section 'title'}}
    Chi tiết sản phẩm
{{/section}}

{{#section 'css'}}
    <link href="/assests/site.css" rel="stylesheet" />

    <style type="text/css">
        .padding {
            padding-top: 8px;
        }
    </style>
{{/section}}

{{#section 'js'}}
    <script src="/assests/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
    <script type="text/javascript">
        $('#txtQ').TouchSpin({
            min: $('#txtQ').val(),
            max: 1000000000,
            step: $('#txtStep').val(),
            verticalButtons: true,
        });
    </script>
{{/section}}

{{#with product }}
    <div class="row">
        <div class="col-sm-5">
            <div class="caption-lg-orange">
                <h3>{{ProName}}</h3>
                </div>
                <div class="padding">
                    <h4>Giá bán: {{formatNumber Price}}</h4>
                </div>
                <div class="padding">
                     <h4>Tồn kho: {{Quantity}}</h4>
                </div>
            <div class="padding">
                {{{FullDes}}}
            </div>
            {{#if ../layoutModels.isLogged }}
            <form class="form-horizontal padding" id="frmAddItem" method="post" action="/cart/add">
                <div class="form-group" style="margin-top: 50px; margin-left: 10px">
                    <input type="hidden" id="txtP" name="proId" value="{{ProID}}" />
                    <input type="hidden" id="txtStep" value="{{DeltaPrice}}" />
                    <div class="row">
                        <div class="col-sm-6">
                            <input id="txtQ" name="quantity" type="text" class="form-control" placeholder="Slg" value="{{Price}}">
                        </div><!-- /input-group -->
                        <div class="col-sm-6">
                            <button class="btn btn-primary padding" type="submit">
                                Đấu giá
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            {{/if}}
        </div>
        <div class="col-md-7">
            <img src="/images/{{ProID}}/1.jpg" style="max-width: 500px; max-height: 400px" />
        </div>
    </div>
{{/with}}