{{#section 'title'}}
    Kết quả tìm kiếm
{{/section}}

{{#section 'js'}}
<script type="text/javascript">
    $('.addItem').on('click', function () {
        var proId = $(this).data('id');
        $('#txtP').val(proId);
        $('#frmAddToCart').submit();
    });
</script>
<script type="text/javascript">
    $('#textSearch').val($('#txtname').val());
</script>
{{/section}}

{{#if isEmpty }}
Không có sản phẩm!
{{else}}
<form id="frmAddToCart" method="post" action="/cart/add1">
    <input type="hidden" id="txtP" name="proId" />
</form>
<div class="row">
    <input type="hidden" id="txtname" value="{{name}}" />
    <h4>Có {{length}} sản phẩm tìm kiếm được với từ khóa "{{text}}"
    <h4>#{{findBy}}</h4>
    <h4>#{{arrange}}</h4>
    {{#each box }}
    <div class="col-md-12">
        <div class="thumbnail" style="min-height: 200px; max-width: ">
            <div class="row">
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-3" style="top: 20px; left: 10px">
                            {{#if ../layoutModels.isLogged }}
                            {{#if isLoved }}
                                <a href="/product/search/removeLove/{{product.ProID}}?page={{../curPage}}&text={{../text}}&findBy={{../findBy}}&arrange={{../arrange}}" role="button">
                                    <img src="/images/others/heart.jpg" width="30" height="30">
                                </a>
                            {{else}}
                                <a href="/product/search/addLove/{{product.ProID}}?page={{../curPage}}&text={{../text}}&findBy={{../findBy}}&arrange={{../arrange}}" role="button" >
                                    <img src="/images/others/heart-empty.png" width="30" height="30">
                                </a>
                            {{/if}}
                            {{/if}}
                        </div>
                        <a href="/product/detail/{{product.ProID}}" class="col-md-8" style="top: 20px;">
                            <img src="/images/{{product.ProID}}/1_thumb.jpg" title="{{product.ProName}}" href="/product/detail/{{product.ProID}}"/>
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="caption">
                        <a href="/product/detail/{{product.ProID}}"><h4>{{product.ProName}}</h4></a>
                        <h4>Giá: {{formatNumber product.Price}} vnđ</h4>
                        <h4>Giá mua ngay: {{formatNumber product.PriceToBuy}} vnđ</h4>
                        <h4>Tồn: {{product.Quantity}}</h4>
                        <p>
                        {{product.TinyDes}}
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <h4>Số lượt đấu giá: {{numberOfAuctions}}</h4>
                    <h4>Thời gian còn lại: {{restTime}}</h4>
                    <h4>Người đang giữ giá: {{handlePrice}}</h4>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>
<div class="row">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {{#if showPrevPage}}
            <li>
                <a href="?page={{prevPage}}&text={{text}}&findBy={{findBy}}&arrange={{arrange}}">
                    <span class="glyphicon glyphicon-arrow-left"></span>
                </a>
            </li>
            {{/if}}
            {{#each pages }}
            {{#if isActive }}
            <li class="active">
                <a href="?page={{pageValue}}&text={{../text}}&findBy={{../findBy}}&arrange={{../arrange}}">{{pageValue}}</a>
            </li>
            {{else}}
            <li>
                <a href="?page={{pageValue}}&text={{../text}}&findBy={{../findBy}}&arrange={{../arrange}}">{{pageValue}}</a>
            </li>
            {{/if}}
            {{/each}}
            {{#if showNextPage }}
            <li>
                <a href="?page={{pageValue}}&text={{text}}&findBy={{findBy}}&arrange={{arrange}}" aria-label="Next">
                    <span class="glyphicon glyphicon-arrow-right"></span>
                </a>
            </li>
            {{/if}}
        </ul>
    </nav>
</div>
{{/if}}