{{#section 'title'}}
    Kết quả tìm kiếm
{{/section}}

{{#section 'js'}}
<script type="text/javascript">
    $('.addItem').on('click', function () {
        var proId = $(this).data('id');
        $('#txtP').val(proId);
        $('#frmAddToCart').submit();
    });
</script>
<script type="text/javascript">
    $('#textSearch').val($('#txtname').val());
</script>
{{/section}}

{{#if isEmpty }}
Không có sản phẩm!
{{else}}
<form id="frmAddToCart" method="post" action="/cart/add1">
    <input type="hidden" id="txtP" name="proId" />
</form>
<div class="row">
    <input type="hidden" id="txtname" value="{{name}}" />
    <h4>Có {{length}} sản phẩm tìm kiếm được với từ khóa "{{text}}"
    <h4>#{{findBy}}</h4>
    <h4>#{{arrange}}</h4>
    {{#each box }}
    <div class="col-md-12" style="right: 15px">
        <div class="thumbnail" style="min-height: 130px; max-width: ">
            <div class="row">
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-3" style="top: 20px; left: 10px">
                            {{#if ../layoutModels.isLogged }}
                            {{#if isLoved }}
                                <a href="/product/search/removeLove/{{product.ProID}}?page={{../curPage}}&text={{../text}}&findBy={{../findBy}}&arrange={{../arrange}}" role="button">
                                    <img src="/images/others/heart.jpg" width="30" height="30">
                                </a>
                            {{else}}
                                <a href="/product/search/addLove/{{product.ProID}}?page={{../curPage}}&text={{../text}}&findBy={{../findBy}}&arrange={{../arrange}}" role="button" >
                                    <img src="/images/others/heart-empty.png" width="30" height="30">
                                </a>
                            {{/if}}
                            {{/if}}
                        </div>
                        <a href="/product/detail/{{product.ProID}}" class="col-md-8" style="top: 20px;">
                            <img src="/images/{{product.ProID}}/1_thumb.jpg" title="{{product.ProName}}" href="/product/detail/{{product.ProID}}"/>
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="caption">
                        <a href="/product/detail/{{product.ProID}}"><h4>{{product.ProName}}</h4></a>
                        <h4>&nbsp;&nbsp;&nbsp;<img src="/images/others/price-icon.png" title="Giá" width="25" height="25">&nbsp;&nbsp;{{formatNumber product.Price}} vnđ</h4>
                        <h4>&nbsp;&nbsp;&nbsp;<img src="/images/others/PriceToBuy.png" title="Giá mua ngay" width="25" height="25">&nbsp;&nbsp;{{formatNumber product.PriceToBuy}} vnđ</h4>
                        <h4>&nbsp;&nbsp;&nbsp;<img src="/images/others/Quantity-icon.png" title="Tồn kho" width="25" height="25">&nbsp;&nbsp;{{product.Quantity}}</h4>
                        <p>&nbsp;&nbsp;&nbsp;<img src="/images/others/Comment-Describe-icon.png" title="Mổ tả ngắn gọn" width="25" height="25">&nbsp;&nbsp;
                        {{product.TinyDes}}
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <h4>&nbsp;</h4>
                    <div class="form-group">
                      <div class="input-group">
                        <span class="input-group-addon">
                            <img src="/images/others/Number-auction.png" title="Số lượt đấu giá" width="20" height="20">&nbsp;Lượt đấu giá&nbsp;&nbsp;
                        </span>
                        <input type="text" class="form-control" value="{{numberOfAuctions}}">
                        </input>
                      </div>
                      
                      <div class="input-group">
                        <span class="input-group-addon">
                            <img src="/images/others/Time-remain.png" title="Thời gian còn lại" width="20" height="20">&nbsp;T.gian còn lại&nbsp;
                        </span>
                        <input type="text" class="form-control" value="{{restTime}}">
                        </input>
                      </div>

                      <div class="input-group">
                        <span class="input-group-addon">
                            <img src="/images/others/Handle-Price.png" title="Người đang giữ giá" width="20" height="20">&nbsp;Người giữ giá
                        </span>
                        <input type="text" class="form-control" value="{{handlePrice}}">
                        </input>
                      </div>
                    </div>

                    <!-- <h4>&nbsp;</h4>
                    <h4>&nbsp;<img src="/images/others/Number-auction.png" title="Số lượt đấu giá" width="25" height="25">&nbsp;&nbsp;{{numberOfAuctions}}</h4>
                    <h4>&nbsp;<img src="/images/others/Time-remain.png" title="Thời gian còn lại" width="25" height="25">&nbsp;&nbsp;{{restTime}}</h4>
                    <h4>&nbsp;<img src="/images/others/Handle-Price.png" title="Người đang giữ giá" width="25" height="25">&nbsp;&nbsp;{{handlePrice}}</h4> -->
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>
<div class="row">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {{#if showPrevPage}}
            <li>
                <a href="?page={{prevPage}}&text={{text}}&findBy={{findBy}}&arrange={{arrange}}">
                    <span class="glyphicon glyphicon-arrow-left"></span>
                </a>
            </li>
            {{/if}}
            {{#each pages }}
            {{#if isActive }}
            <li class="active">
                <a href="?page={{pageValue}}&text={{../text}}&findBy={{../findBy}}&arrange={{../arrange}}">{{pageValue}}</a>
            </li>
            {{else}}
            <li>
                <a href="?page={{pageValue}}&text={{../text}}&findBy={{../findBy}}&arrange={{../arrange}}">{{pageValue}}</a>
            </li>
            {{/if}}
            {{/each}}
            {{#if showNextPage }}
            <li>
                <a href="?page={{pageValue}}&text={{text}}&findBy={{findBy}}&arrange={{arrange}}" aria-label="Next">
                    <span class="glyphicon glyphicon-arrow-right"></span>
                </a>
            </li>
            {{/if}}
        </ul>
    </nav>
</div>
{{/if}}