{{#section 'title'}}
    Danh sách sản phẩm
{{/section}}

{{#section 'js'}}
<script type="text/javascript">
    $('.addItem').on('click', function () {
        var proId = $(this).data('id');
        $('#txtP').val(proId);
        $('#frmAddToCart').submit();
    });
</script>
<script type="text/javascript">
    $('#textSort').val($('#txtname').val());
</script>
{{/section}}

{{#if isEmpty }}
Không có sản phẩm!
{{else}}
<form id="frmAddToCart" method="post" action="/cart/add1">
    <input type="hidden" id="txtP" name="proId" />
    <input type="hidden" id="txtC" name="catId" value="{{catId}}" />
</form>
<div class="row">
    <input type="hidden" id="txtname" value="{{name}}" />
    {{#each result }}
    <div class="col-md-4">
        <div class="thumbnail" style="min-height: 390px; max-width: 300px">
            <img src="/images/{{ProID}}/1_thumb.jpg" title="{{ProName}}" />
            <div class="caption">
                <h4>{{ProName}}</h4>
                <h4>Giá: {{formatNumber Price}}</h4>
                <h4>Tồn: {{Quantity}}</h4>
                <p style="width: 300px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;">
                {{TinyDes}}
            </p>
            <p>
                <a href="/product/detail/{{ProID}}" class="btn btn-default" role="button">
                    Chi tiết
                </a>
            </p>
        </div>
    </div>
</div>
{{/each}}
</div>
<nav aria-label="Page navigation">
    <ul class="pagination">
        {{#if showPrevPage}}
        <li>
            <a href="?page={{prevPage}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {{/if}}
        {{#each pages }}
        {{#if isActive }}
        <li class="active">
            <a href="?page={{pageValue}}">{{pageValue}}</a>
        </li>
        {{else}}
        <li>
            <a href="?page={{pageValue}}">{{pageValue}}</a>
        </li>
        {{/if}}
        {{/each}}
        {{#if showNextPage }}
        <li>
            <a href="?page={{nextPage}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {{/if}}
    </ul>
</nav>
{{/if}}