{{#section 'title'}}
    Đấu giá nhanh
{{/section}}

{{#section 'css'}}
 	<style type="text/css">
        .box {
            -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.15);
            -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.15);
            box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.15);
        }
        .boxHover {
            -webkit-box-shadow: 0px 3px 29px 0px rgba(0,0,0,0.35);
            -moz-box-shadow: 0px 3px 29px 0px rgba(0,0,0,0.35);
            box-shadow: 0px 3px 29px 0px rgba(0,0,0,0.35);
        }
    </style>
{{/section}}
{{#section 'js'}}
	<script type="text/javascript">
	    $(".Boxstyle").hover(function(){
	        $(this).removeClass('box');
	        $(this).addClass('boxHover');
	    }, function(){
	        $(this).removeClass('boxHover');
	        $(this).addClass('box');
	    });
	</script>
{{/section}}
{{!-- body --}}
<div class="row">
	<div class="nav-section">
	    <div class="icon-new">
	        <h2 class="h-title">
	            <label>Top 5 sản phẩm có nhiều lượt ra giá nhất</label>
	        </h2>
	        <div class="row">
		        {{#each top5OfAuction }}
		        <div class="col-md-4">
		            <div class="thumbnail box Boxstyle" id="box{{ProID}}" style="min-height: 340px; max-width: 300px">
			            <a href="/product/detail/{{ProID}}"><img src="/images/{{ProID}}/1_thumb.jpg" title="{{ProName}}"/></a>
			            <div class="caption">
			                <a href="/product/detail/{{ProID}}"><h4 style="text-align: center;padding-bottom: 7px"><b>{{ProName}}</b></h4></a>

			                <h4><b>Giá:</b> <label style="color: red">{{formatNumber Price}}</label> VND</h4>
			                <h4><b>Tồn:</b></button> {{Quantity}}</h4>
			                <p style="width: 250px;
			                white-space: nowrap;
			                overflow: hidden;
			                text-overflow: ellipsis;">
			                {{TinyDes}}
			                </p>
			            </div>
		        	</div>
		        </div>
		        {{/each}}
	    	</div>
	    </div>
	</div>
</div>
<!-- end row -->
<div class="row">
	<div class="nav-section">
	    <h2 class="h-title">
	        <label>Top 5 sản phẩm có giá cao nhất</label>
	    </h2>
	    <div class="row">
	    	{{#each top5OfPrice }}
	        <div class="col-md-4">
	            <div class="thumbnail box Boxstyle" id="box{{ProID}}" style="min-height: 340px; max-width: 300px">
		            <a href="/product/detail/{{ProID}}"><img src="/images/{{ProID}}/1_thumb.jpg" title="{{ProName}}"/></a>
		            <div class="caption">
		                <a href="/product/detail/{{ProID}}"><h4 style="text-align: center;padding-bottom: 7px"><b>{{ProName}}</b></h4></a>

		                <h4><b>Giá:</b> <label style="color: red">{{formatNumber Price}}</label> VND</h4>
		                <h4><b>Tồn:</b></button> {{Quantity}}</h4>
		                <p style="width: 250px;
		                white-space: nowrap;
		                overflow: hidden;
		                text-overflow: ellipsis;">
		                {{TinyDes}}
		                </p>
		            </div>
	        	</div>
	        </div>
	        {{/each}}
	    </div>
	</div>
</div>
<div class="row">
	<div class="nav-section">
	    <div class="icon-new">
	        <h2 class="h-title">
	            <label>Những sản phẩm sắp kết thúc</label>
	        </h2>
	        <div class="row">
	        	{{#each top5OfTimeDown }}
		        <div class="col-md-4">
		            <div class="thumbnail box Boxstyle" id="box{{ProID}}" style="min-height: 340px; max-width: 300px">
			            <a href="/product/detail/{{ProID}}"><img src="/images/{{ProID}}/1_thumb.jpg" title="{{ProName}}"/></a>
			            <div class="caption">
			                <a href="/product/detail/{{ProID}}"><h4 style="text-align: center;padding-bottom: 7px"><b>{{ProName}}</b></h4></a>

			                <h4><b>Giá:</b> <label style="color: red">{{formatNumber Price}}</label> VND</h4>
			                <h4><b>Tồn:</b></button> {{Quantity}}</h4>
			                <p style="width: 250px;
			                white-space: nowrap;
			                overflow: hidden;
			                text-overflow: ellipsis;">
			                {{TinyDes}}
			                </p>
			            </div>
		        	</div>
		        </div>
		        {{/each}}
	        </div>
	    </div>
	</div>
</div>
{{!-- end body --}}

{{#section 'js'}}
    
{{/section}}