{{#section 'title'}}
    Đấu giá nhanh
{{/section}}

{{#section 'css'}}
    
{{/section}}

{{!-- body --}}
<div class="row">
	<div class="nav-section">
	    <div class="icon-new">
	        <h2 class="h-title">
	            <label>Top 5 sản phẩm có nhiều lượt ra giá nhất</label>
	        </h2>
	        <div class="row">
		        {{#each top5OfAuction }}
		        <div class="col-md-4">
		            <div class="thumbnail" style="min-height: 340px; max-width: 300px">
			           <a href="/product/detail/{{ProID}}"><img src="/images/{{ProID}}/1_thumb.jpg" title="{{ProName}}"/></a>
		            	<div class="caption">
			                <a href="/product/detail/{{ProID}}"><h4>{{ProName}}</h4></a>
		                    <h4>Giá: {{formatNumber Price}} vnđ</h4>
		                    <h4>Tồn: {{Quantity}}</h4>
		                    <p style="width: 250px;
							     white-space: nowrap;
							     overflow: hidden;
							     text-overflow: ellipsis;">
							     {{TinyDes}}</p>
	                    	<p>
		                </div>
		            </div>
		        </div>
		        {{/each}}
	    	</div>
	    </div>
	</div>
</div>
<!-- end row -->
<div class="row">
	<div class="nav-section">
	    <h2 class="h-title">
	        <label>Top 5 sản phẩm có giá cao nhất</label>
	    </h2>
	    <div class="row">
	    	{{#each top5OfPrice }}
	        <div class="col-md-4">
	            <div class="thumbnail" style="min-height: 340px; max-width: 300px">
		           <a href="/product/detail/{{product.ProID}}"><img src="/images/{{ProID}}/1_thumb.jpg" title="{{ProName}}"/></a>
	            	<div class="caption">
		                <a href="/product/detail/{{ProID}}"><h4>{{ProName}}</h4></a>
	                    <h4>Giá: {{formatNumber Price}} vnđ</h4>
	                    <h4>Tồn: {{Quantity}}</h4>
	                    <p style="width: 250px;
							     white-space: nowrap;
							     overflow: hidden;
							     text-overflow: ellipsis;">
							     {{TinyDes}}</p>
	                </div>
	            </div>
	        </div>
	        {{/each}}
	    </div>
	</div>
</div>
<div class="row">
	<div class="nav-section">
	    <div class="icon-new">
	        <h2 class="h-title">
	            <label>Những sản phẩm sắp kết thúc</label>
	        </h2>
	        <div class="row">
	        	{{#each top5OfTimeDown }}
		        <div class="col-md-4">
		            <div class="thumbnail" style="min-height: 360px; max-width: 300px">
			           <a href="/product/detail/{{product.ProID}}"><img src="/images/{{ProID}}/1_thumb.jpg" title="{{ProName}}" href="/product/detail/{{ProID}}"/></a>
		            	<div class="caption">
			                <a href="/product/detail/{{ProID}}"><h4>{{ProName}}</h4></a>
		                    <h4>Giá: {{formatNumber Price}} vnđ</h4>
		                    <h4>Tồn: {{Quantity}}</h4>
		                    <h4>Thời gian hết hạn: {{TimeDown}}</h4>
		                    <p style="width: 250px;
							     white-space: nowrap;
							     overflow: hidden;
							     text-overflow: ellipsis;">
							     {{TinyDes}}</p>
	                    	<p>
		                </div>
		            </div>
		        </div>
		        {{/each}}
	        </div>
	    </div>
	</div>
</div>
{{!-- end body --}}

{{#section 'js'}}
    
{{/section}}