{{#section 'title'}}
    Đấu giá nhanh
{{/section}}

{{#section 'css'}}
    
{{/section}}

{{!-- body --}}
<div class="row">
	<div class="nav-section">
	    <div class="icon-new">
	        <h2 class="h-title">
	            <label>Top 5 sản phẩm có nhiều lượt ra giá nhất</label>
	        </h2>
	        <div class="row">
		        {{#each top5OfAuction }}
		        <div class="col-md-4">
		            <div class="thumbnail" style="min-height: 390px; max-width: 300px">
		                <img src="/images/{{ProID}}/1_thumb.jpg" title="{{ProName}}" />
		                <div class="caption">
		                    <h4>{{ProName}}</h4>
		                    <h4>Giá: {{formatNumber Price}}</h4>
		                    <h4>Tồn: {{Quantity}}</h4>
		                    <p style="width: 250px;
							     white-space: nowrap;
							     overflow: hidden;
							     text-overflow: ellipsis;">
							     {{TinyDes}}</p>
	                    	<p>
		                    <p>
		                        <a href="/product/detail/{{ProID}}" class="btn btn-default" role="button">
		                            Chi tiết
		                        </a>
		                        {{#if ../layoutModels.isLogged }}
		                            <a href="javascript:;" class="btn btn-success addItem" role="button" data-id="{{ProID}}">
		                                <i class="fa fa-cart-plus"></i>
		                                Đặt mua
		                            </a>
		                        {{/if}}
		                    </p>
		                </div>
		            </div>
		        </div>
		        {{/each}}
	    	</div>
	    </div>
	</div>
</div>
<!-- end row -->
<div class="row">
	<div class="nav-section">
	    <h2 class="h-title">
	        <label>Top 5 sản phẩm có giá cao nhất</label>
	    </h2>
	    <div class="row">
	    	{{#each top5OfPrice }}
	        <div class="col-md-4">
	            <div class="thumbnail" style="min-height: 390px; max-width: 300px">
	                <img src="/images/{{ProID}}/1_thumb.jpg" title="{{ProName}}" />
	                <div class="caption">
	                    <h4>{{ProName}}</h4>
	                    <h4>Giá: {{formatNumber Price}}</h4>
	                    <h4>Tồn: {{Quantity}}</h4>
	                    <p style="width: 250px;
							     white-space: nowrap;
							     overflow: hidden;
							     text-overflow: ellipsis;">
							     {{TinyDes}}</p>
	                    <p>
	                        <a href="/product/detail/{{ProID}}" class="btn btn-default" role="button">
	                            Chi tiết
	                        </a>
	                        {{#if ../layoutModels.isLogged }}
	                            <a href="javascript:;" class="btn btn-success addItem" role="button" data-id="{{ProID}}">
	                                <i class="fa fa-cart-plus"></i>
	                                Đặt mua
	                            </a>
	                        {{/if}}
	                    </p>
	                </div>
	            </div>
	        </div>
	        {{/each}}
	    </div>
	</div>
</div>
<div class="row">
	<div class="nav-section">
	    <div class="icon-new">
	        <h2 class="h-title">
	            <label>Những sản phẩm sắp kết thúc</label>
	        </h2>
	        <div class="row">
	        	{{#each top5OfTimeDown }}
		        <div class="col-md-4">
		            <div class="thumbnail" style="min-height: 410px; max-width: 300px">
		                <img src="/images/{{ProID}}/1_thumb.jpg" title="{{ProName}}" />
		                <div class="caption">
		                    <h4>{{ProName}}</h4>
		                    <h4>Giá: {{formatNumber Price}}</h4>
		                    <h4>Tồn: {{Quantity}}</h4>
		                    <h4>Thời gian hết hạn: {{TimeDown}}</h4>
		                    <p style="width: 250px;
							     white-space: nowrap;
							     overflow: hidden;
							     text-overflow: ellipsis;">
							     {{TinyDes}}</p>
	                    	<p>
		                    <p>
		                        <a href="/product/detail/{{ProID}}" class="btn btn-default" role="button">
		                            Chi tiết
		                        </a>
		                        {{#if ../layoutModels.isLogged }}
		                            <a href="javascript:;" class="btn btn-success addItem" role="button" data-id="{{ProID}}">
		                                <i class="fa fa-cart-plus"></i>
		                                Đặt mua
		                            </a>
		                        {{/if}}
		                    </p>
		                </div>
		            </div>
		        </div>
		        {{/each}}
	        </div>
	    </div>
	</div>
</div>
{{!-- end body --}}

{{#section 'js'}}
    
{{/section}}