<div class="container-fluid">
    <div class="row">
        <!-- Menubar -->
        <header style="background-color: rgb(216, 242, 255);">
            <div class="row" style="top: 15px">
                <!-- Logo và thanh tìm kiến -->
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <img src="/images/Others/daugialogo.png" style="height: 70px;margin-left: 5px">
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                </div>
                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                    <div class="panel panel-default" style="background-color: #CCCCCC">
                        <div class="panel-body">
                            <div class="input-group">
                                <input class="form-control" placeholder="Tìm kiếm" style="width: 90%" type="text" id="txtSearch">
                                <span class="input-group-btn">
                                    <button class="btn btn-success" id="search">
                                        Tìm kiếm
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END Logo và thanh tìm kiến -->
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style=" top: 10px;text-align: right;right: 10px">
                    <a href="others/gioi-thieu.html">
                        <i style=" font-size: 16px;">
                        </i>
                        <span style="color: #282525">
                            Giới thiệu
                        </span>
                    </a>
                    <a href="others/hoi-dap.html">
                        <i style=" font-size: 16px;">
                        </i>
                        <span style="color: #282525">
                            <span class="glyphicon glyphicon-triangle-right">
                            </span>
                            Hỏi đáp
                        </span>
                    </a>
                    <a href="#">
                        <i style=" font-size: 16px;">
                        </i>
                        <span style="color: #282525">
                            <span class="glyphicon glyphicon-earphone">
                            </span>
                            Liên hệ
                        </span>
                    </a>
                    <br>
                    {{#if layoutModels.isLogged }}
                    <div class="btn-group">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Xin chào, <b>{{ layoutModels.curUser.name }}</b> <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/account/profile">Thông tin cá nhân</a></li>
                            <li><a id="upProduct" href="/product/add">Đăng sản phẩm</a></li>
                            {{#if layoutModels.isAdmin }}
                            <li><a id="manageCategories" href="/account/manageRequests">Duyệt yêu cầu</a></li>
                            <li><a id="manageCategories" href="/account/manageCategories">Quản lý danh mục</a></li>
                            <li><a id="manaUsers" href="/account/manageUsers">Quản lý người dùng</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a id="logoutLink" href="javascript:;">Đăng xuất</a></li>
                            {{else}}
                            <li role="separator" class="divider"></li>
                            <li><a id="logoutLink" href="javascript:;">Đăng xuất</a></li>
                            {{/if}}
                        </ul>
                    </div>
                    {{else}}
                    <a href="/account/login">
                        <i style=" font-size: 16px;">
                        </i>
                        <span style="color: rgb(0, 153, 242)">
                            <span class="glyphicon glyphicon-user">
                            </span>
                            Đăng nhập
                        </span>
                    </a>
                    <a href="/account/register">
                        <i style=" font-size: 15px;">
                        </i>
                        <span style="color: rgb(0, 153, 242)">
                            <span class="glyphicon glyphicon-pencil">
                            </span>
                            Đăng Ký
                        </span>
                    </a>
                    {{/if}}
                </div>
            </div>
            <div class="xs-100 sm-100 md-100 lg-100 xl-100" style="top: 10px;">
                <ul class="super-menu mobile-menu menu-table" style="table-layout: auto;">
                    <li style="margin-right: 5px; color: rgb(221, 0, 23); font-size: 16px; top: -1px">
                        <a href="/home">
                            <i style="margin-right: 5px; font-size: 17px; top: -1px;">
                                <span class="glyphicon glyphicon-home">
                                </span>
                                Trang chủ
                            </i>
                        </a>
                    </li>
                    <li style="margin-right: 5px; color: rgb(221, 0, 23); font-size: 16px; top: -1px">
                        <a href="#">
                            <i style="margin-right: 5px; font-size: 17px; top: -1px">
                                Thời trang
                            </i>
                        </a>
                    </li>
                    <li style="margin-right: 5px; color: rgb(221, 0, 23); font-size: 16px; top: -1px">
                        <a href="#">
                            <i style="margin-right: 5px; font-size: 17px; top: -1px">
                                Điện máy
                            </i>
                        </a>
                    </li>
                    <li style="margin-right: 5px; color: rgb(221, 0, 23); font-size: 16px; top: -1px">
                        <a href="#">
                            <i style="margin-right: 5px; font-size: 17px; top: -1px">
                                Tin học
                            </i>
                        </a>
                    </li>
                    <li style="margin-right: 5px; color: rgb(221, 0, 23); font-size: 16px; top: -1px">
                     <div class="dropdown">
                     <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="width:100%">Sắp Xếp
                          <span class="caret"></span></button>
                          <ul class="dropdown-menu">
                            <li><a href="#" id="sort1">Giá tăng dần</a></li>
                            <li><a href="#" id="sort2">Thời gian kết thúc giảm dần</a></li>
                        </ul>
                    </div>
                </li>
                {{#if layoutModels.isLogged }}
                <li style="margin-right: 5px; color: rgb(221, 0, 23); font-size: 16px; top: -1px">
                    <a href="index.html">
                        <i style="margin-right: 5px; font-size: 17px; top: -1px">
                            Giỏ hàng
                            <span class="glyphicon glyphicon-shopping-cart">
                                {{layoutModels.cartSumQ}}
                            </span>
                        </i>
                    </a>
                </li>
                {{else}}
                <li style="margin-right: 5px; color: rgb(221, 0, 23); font-size: 16px; top: -1px">
                    <a href="index.html">
                        <i style="margin-right: 5px; font-size: 17px; top: -1px">
                            Giỏ hàng
                            <span class="glyphicon glyphicon-shopping-cart">
                                {{layoutModels.cartSumQ}}
                            </span>
                        </i>
                    </a>
                </li>
                {{/if}}
            </ul>
        </div>
    </header>
</div>
</div>