{{#section 'title'}}
    Lịch sử đấu giá
{{/section}}

{{#section 'js'}}
    // <script type="text/javascript">
    //     $('.removeUser').on('click', function() {
    //         var id = $(this).data('id');
    //         $('#txtRemoveUserID').val(id);
    //         $('#frmRemoveUsers').submit();
    //     });
    // </script>
{{/section}}

{{!-- body --}}
<div style="padding-right: 50px">
{{#if isEmpty }}
    <div class="alert alert-danger" role="alert">Không có lượt đấu giá nào cho sản phẩm này! 
  <a href="/product/detail/{{product.ProID}}" class="alert-link"> Trở về</a>
</div>
{{/if}}
<h3>Lịch sử đấu giá cho sản phẩm: <a href="/product/detail/{{product.ProID}}">{{product.ProName}}</a></h3>
<table class="table table-hover table-striped table-bordered" style="max-width: 1000px;">
    <thead>
        <tr>
        <th style="max-width: 50px">Người ra giá</th>
            <th style="max-width: 30px">Thời điểm</th>
            <th style="max-width: 50px">Giá đưa ra</th>
            {{#if isSolder}}
            <th style="max-width: 30px; text-align: center;">Kích</th>
            {{/if}}
        </tr>
    </thead>
    <tbody>
        {{#each box}}
        <tr>
            {{#if ../isSolder}}
            <td><a href="/account/profile/{{auctor.ID}}">{{auctor.Name}}</a></td>
            {{else}}
            {{#if isMyName }}
            <td style="background-color: #483D8B; color: #00FFFF"><b>Tôi</b></td>
            {{else}}
            <td>{{auctor.Name}}</td>
            {{/if}}
            {{/if}}
            <td>{{item.Date}}</td>
            <td>{{formatNumber item.Price}} đ</td>
            {{#if ../isSolder}}
            <td style="max-width: 20px;text-align: center;">
                <a href="/auction/history?proID={{item.ProID}}&auctorID={{auctor.ID}}" class="btn btn-xs btn-danger removeUser" data-id="{{auctor.ID}}" title="Kích người mua ra khỏi sản phẩm"><span class="glyphicon glyphicon-remove"></span>
                </a>
            </td>
            {{/if}}
        </tr>
        {{/each}}
    </tbody>
</table>
</div>
{{!-- end body --}}

{{#section 'css'}}

{{/section}}